* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game-board {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  border-bottom: 15px solid rgb(35, 160, 35);
  margin: 0 auto;
  position: relative;
  background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 2s infinite linear;
}

.mario {
  position: absolute;
  width: 150px;
  bottom: 0;
}

.jump {
  animation: jump 500ms ease-out;
}

.clouds {
  top: 15vh;
  position: absolute;
  width: 550px;
  animation: clouds-animation 20s infinite linear;
}

.game-over {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.score {
  position: absolute;
  top: 70px;
  left: 50px;
  font-family: 'Press Start 2P', cursive;
  font-size: 40px;
  color: rgb(255, 238, 0)
}

@keyframes pipe-animation {
  from {
    right: -80px;
  } 
  
  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes clouds-animation {
  from {
    right: -550px;
  }

  to {
    right: 100%;
  }
}

@keyframes game-over-mario {
  to {
    bottom: -200px;
  }


}